<!DOCTYPE html>
<html xmlns:th="http://wwww.thymelaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Menu</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<object th:replace="fragments/fragment :: navbar (pageTitle = 'Add Menu')"></object>
    <h3> Tambah Produk </h3>
    <form th:action="@{/menu/add/{id}(id=${idRestoran})}" th:object="${restoran}" method="POST">
        <input type="hidden" th:field="*{idRestoran}" />
        <table id="myTable" class=" table-sm-responsive order-list">
            <thead>
            <tr>
                <th scope="col" style="text-align: center"> Nama </th>
                <th scope="col" style="text-align: center"> Deskripsi </th>
                <th scope="col" style="text-align: center"> Harga </th>
                <th scope="col" style="text-align: center"> Durasi Masak </th>
                <th scope="col" style="text-align: center">
                    <button type="submit" class="btn btn-primary" name="addRow">Add Row</button></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="menu, rowStat : *{listMenu}">
                <td scope="row" style="text-align: center">
                    <input class="form-control" type="text" name="nama" th:field="*{listMenu[__${rowStat.index}__].nama}"/>
                </td>
                <td scope="row" style="text-align: center">
                    <input class="form-control" type="text" name="deskripsi" th:field="*{listMenu[__${rowStat.index}__].deskripsi}"/>
                </td>
                <td scope="row" style="text-align: center">
                    <input class="form-control" type="number" name="harga" th:field="*{listMenu[__${rowStat.index}__].harga}"/>
                </td>
                <td scope="row" style="text-align: center">
                    <input class="form-control" type="number" name="durasiMasak" th:field="*{listMenu[__${rowStat.index}__].durasiMasak}"/>
                </td>
                <td scope="col" style="text-align: left">
                    <button class="btn btn-danger deleteRow" type="submit" name="removeRow" th:value="${rowStat.index}">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <button type="submit" class="btn btn-primary" name="save"> Submit </button>
    </form>
</body>
</html>